.s-hero {
    padding-top: 16.4rem;
    padding-bottom: 10.3rem;
    background-image: url("../img/bg-hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 80rem;

    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .left {
            width: 100%;
            max-width: 78.2rem;

            h1 {
                margin-top: 2.4rem;
                margin-bottom: 1.8rem;
            }

            p {
                font-weight: 500;
                font-size: 22px;
                line-height: 140%;
                color: white;
                margin-bottom: 4rem;
            }

            .value {
                display: flex;

                strong {
                    background-color: #FFFFFF;
                    padding: 1.8rem 3.6rem;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 22px;
                    color: #000000;
                }

                a {

                    background-color: #3265EA;
                    display: block;
                    padding: 1.8rem 3.6rem;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 2.2rem;
                    color: #FFFFFF;
                }
            }
        }

        .right {
            position: relative;
            width: 100%;
            max-width: 44.3rem;
            top: 9.7rem;

            span {
                display: block;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 2.3rem;
            }

            button {
                position: relative;
                width: 100%;
                height: 24.7rem;
                border: 2px solid #3265EA;
                overflow: hidden;
                background: #000000;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-bottom: 5.1rem;

                .thumbnail {
                    width: 100%;
                }

                .icon-play {
                    position: absolute;
                    bottom: 2.5rem;
                    left: 3.2rem;
                }
            }

            .year-old {
                display: flex;
                align-items: center;

                p {
                    color: #FFFFFF;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 17px;
                    max-width: 27.4rem;
                    margin-left: 1.5rem;
                }
            }
        }
    }
}

.s-info-geral {
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                display: block;
                text-align: center;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 160%;
                color: #BDC2CB;
                margin-top: 1.2rem;
            }
        }
    }
}